<h1>Добавить занятие</h1>


<%= form_with model: @newtweet, url: new_tweet_path, data: {turbo: false} do |form| %>
    <%= render "shared/form_errors", form: form %>
    <div class="mb-3">
        <strong>Опубликовано от</strong>
        <%= form.label :user, "#{Current.user.email}" %>
        <input readonly type="hidden" <%= form.text_field :user, :value => Current.user.email, class: 'form-control'%>
        <hr>
        <%= form.text_field :body, class: 'form-control' %><br>
        <div class="mt-3">
            <%= form.submit 'Confim', class: 'btn btn-primary' %>
        </div>
     </div>
      
<% end %>
