 <div class = "wall-box mx-auto">
    <div class="mt-4 mb-2 ProfileHeader">
        <% if @user.avatar.present? %>
          <%# image_tag @user.avatar_url, class: 'profile-avatar' %>
          <%= image_tag "data:avatar/jpeg;base64,#{Base64.encode64(@user.avatar.read)}", class: 'profile-avatar' %>
        <% else %>
            <%= image_tag "default_avatar.png", class: "avatar" %>
        <% end %>
        <h1 class="profile-email"><%= @user.email %></h1>
        <% if @user.id == Current.user.id || Current.user.email == 'dorogino@gmail.com' %>
          <div class="edit-button">
             <%= link_to fa_icon('edit'), password_path %>
          </div>
        <% end %>
        <hr class="hr">
    </div>
    <div class="ProfileHeader">
        <% if @user.id == Current.user.id %>
            <%= link_to 'Добавить пост', new_post_path, class: 'btn btn-info' %>
        <% else %>
            <% if Current.user.subscribers.exists?(user_id2: @user.id) %>
                <%= button_to 'Отписаться', unsubscribe_user_path(@user), method: :delete, class: 'btn btn-danger unsubub-btn' %>
            <% else %>
                <%= button_to 'Подписаться', subscribe_user_path(@user), method: :post, class: 'btn btn-info sub-btn' %>
            <% end %>
        <% end %>   
    <div>
        <span class="subscribe-count">Подписчики: <%= @user.subscribers_count %></span> 
    </div>
     <div>
         <span class="subscribe-count"></span>
     </div>
    </div>
    <% @posts.each do |post| %>
        <% if post.user == @user.email %>
        <div class="ProfileHeader">
            <div class="_post_content">
                <div class="PostHeader">
                    <div>
                        <% if post.user == @user.email %>
                           <% if @user.avatar.present? %>
                              <%# image_tag @user.avatar_url, class: 'Avatar' %>
                              <%= image_tag "data:avatar/jpeg;base64,#{Base64.encode64(@user.avatar.read)}", class: 'Avatar' %>
                           <% else %>
                              <%= image_tag "default_avatar.png", class: "avatar" %>
                           <% end %>
                        <% end %>
                    </div>
                    <div class="PostHeaderInfo">
                        <% if post.user == @user.email %>
                            <h5><span><%= @user.email %></span></h5>
                        <% end %>
                    </div>
                </div>
                <div class="content">
                    <div class="post_info">
                        <div class="wall_text">
                            <%= post.body %>
                        </div>
                        <div class="PhotoOnPost">
                            <% if post.photo.present? %>
                                <%= image_tag "data:photo/jpeg;base64,#{Base64.encode64(post.photo.read)}", class: 'img-fluid' %>
                            <% end %>
                        </div>
                        <div class="btn_wrap">
                            <div class="btns">
                                <div class="like-button"> 
                                    <% if Current.user.likes.exists?(post: @post) %>
                                        <%= button_to fa_icon("heart-o"), like_post_path(post), method: :post, class: 'item-button' %>
                                        <span class="like_count"><%= post.likes_count %></span>
                                    <% else %>     
                                        <%= button_to fa_icon("heart"), like_post_path(post), method: :post, class: 'item-button' %>
                                        <span class="like_count"><%= post.likes_count %></span>
                                    <% end %>                                                        
                                </div>
                                <div class="comment-button">
                                    <%= link_to fa_icon('comment'), "/post/#{post.id}" %>                      
                                    <span class="comments-count"><%= post.comments.count %></span>
                                </div>
                                <div class="share-button">
                                    <button class="fa-solid fa-share fa-lg"></button>
                                    <span class="share-count">0</span>
                                </div>
                                <% if Current.user.email == post.user %>
                                    <div class="trash-button remove-styles">
                                        <%= button_to fa_icon("trash"), delete_post_user_path(post), method: :delete, class: 'item-button' %>
                                    </div>
                                <% end %>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
