 <div class = "wall-box mx-auto">
    <div class="mt-4 mb-2 ProfileHeader">
        <%# image_tag @user.avatar_url, class: 'profile-avatar' %>
        <%= image_tag "data:avatar/jpeg;base64,#{Base64.encode64(@user.avatar.read)}", class: 'profile-avatar' %>
        <h1 class="profile-email">
            <%= @user.email %>
            <% if @user.vip? %>
                <span class="VIP-p">VIP</span>
            <% elsif @user.email == 'dorogino@gmail.com' %>
                <span class="VIP-p">ADMIN</span>
            <% end %>
        </h1>
        <% if @user.id == Current.user.id %>
          <div class="edit-button">
            <%= link_to fa_icon('edit'), password_path %>
          </div>
        <% end %>
        <% if Current.user.email == 'dorogino@gmail.com' %> 
            <%= link_to fa_icon('bars'), edit_user_path, class: 'admin-btn' %>
        <% end %>
        <hr class="hr">
    </div>
    <div class="ProfileHeader">
        <% if @user.id == Current.user.id %>
            <%= link_to 'Добавить пост', new_post_path, class: 'btn btn-info' %>
        <% else %>
            <% if Current.user.subscribers.exists?(user_id2: @user.id) %>
                <%= button_to 'Отписаться', unsubscribe_user_path(@user), method: :delete, class: 'btn btn-danger unsubub-btn' %>
            <% else %>
                <%= button_to 'Подписаться', subscribe_user_path(@user), method: :post, class: 'btn btn-info sub-btn' %>
            <% end %>
        <% end %>  
    <div>
        <span class="subscribe-count">Подписчики: <%= abbreviated_number(@user.subscribers_count) %></span> 
    </div>
    <% if Current.user.email == 'dorogino@gmail.com' %>
        <% if @user.vip? %>    
                <%= button_to "Убрать VIP", demote_from_vip_user_path(@user), method: :post, class: 'btn btn-danger'%>  
        <% else %>
                <%= button_to "Добавить VIP", promote_to_vip_user_path(@user), method: :post, class: 'btn btn-warning'%>
        <% end %>
    <% end %>
    </div>
    <% @posts.each do |post| %>
        <% if post.user == @user.email %>
        <div class="ProfileHeader">
            <div class="_post_content">
                <div class="PostHeader">
                    <div>
                        <% if post.user == @user.email %>
                            <%# image_tag @user.avatar_url, class: 'Avatar' %>
                        <%= image_tag "data:avatar/jpeg;base64,#{Base64.encode64(@user.avatar.read)}", class: 'Avatar' %>
                        <% end %>
                    </div>
                    <div class="PostHeaderInfo">
                        <% if post.user == @user.email %>
                            <h5>
                                <span><%= @user.email %></span>
                                <% if @user.vip? %>
                                    <span class="VIP-p">VIP</span>
                                <% elsif  @user.email == 'dorogino@gmail.com' %>
                                    <span class="VIP-p">ADMIN</span>
                                <% end %>
                            </h5>
                        <% end %>
                    </div>
                </div>
                <div class="content">
                    <div class="post_info">
                        <div class="wall_text">
                            <%= post.body %>
                        </div>
                        <div class="PhotoOnPost">
                            <% if post.photo.present? %>
                                <%= image_tag "data:photo/jpeg;base64,#{Base64.encode64(post.photo.read)}", class: 'img-fluid' %>
                            <% end %>
                        </div>
                        <div class="btn_wrap">
                            <div class="btns">
                                <div class="like-button"> 
                                    <%= button_to fa_icon("heart"), like_post_path(post), method: :post, class: 'item-button' %>
                                    <span class="like_count"><%= post.likes_count %></span> 
                                    <% if Current.user.likes.exists?(post: @post) %>
                                        <%= button_to fa_icon("heart-o"), like_post_path(post), method: :post, class: 'item-button' %>
                                    <% end %>                                                     
                                    <script>
                                        //location.reload();
                                    </script>   
                                </div>
                                <div class="comment-button">
                                    <%= link_to fa_icon('comment'), "/post/#{post.id}" %>                      
                                    <span class="comments-count"><%= post.comments.count %></span>
                                </div>
                                <div class="share-button">
                                    <button class="fa-solid fa-share fa-lg"></button>
                                    <span class="share-count">0</span>
                                </div>
                                <% if Current.user.email == post.user || Current.user.email == 'dorogino@gmail.com' %>
                                    <div class="trash-button remove-styles">
                                        <%= button_to fa_icon("trash"), delete_post_user_path(post), method: :delete, class: 'item-button' %>
                                    </div>
                                <% end %>
                                <% if Current.user.email == 'dorogino@gmail.com' %>
                                    <div class="cog-button remove-styles">
                                        <%= link_to fa_icon("cog"), edit_post_path(post), method: :delete, class: 'item-button' %>
                                    </div>
                                <% end %>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
